<!DOCTYPE html>
<html lang="en" ng-app="Kangulary">
  <head>
    <title>Kangulary</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">

    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <style>
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
    </style>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" type="text/css" href="/css/base.css">

    <script src="/js/vendor/jquery-latest.js"></script>
    <script src="/js/vendor/angular.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/services/store.js"></script>
    <script src="js/controllers/application.js"></script>
    <script src="js/controllers/projects.js"></script>
  </head>

  <body ng-controller="ApplicationCtrl">
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Kangulary</a>
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
              <span ng-show="user">
                Logged in as {{user.name}}. <a href="#" ng-click="logout()" class="navbar-link">Log out</a>
              </span>
              <span ng-show="!user">
                <a href="#" ng-click="login()" class="navbar-link">Log in</a>
              </span>
            </p>
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid" ng-controller="ProjectListCtrl">
      <div ng-show="alert" class="alert alert-{{alert.type}}">
        <button type="button" class="close" ng-click="clearAlert()">&times;</button>
        {{alert.message}}
      </div>

      <div class="row-fluid">

        <div class="span3">
          <div ng-show="workspaces.length > 0" class="well sidebar-nav">
            <ul class="nav nav-list workspace-list">
              <li class="nav-header" ng-repeat="workspace in workspaces">
                {{workspace.name}}
                <ul class="nav nav-list project-list">
                  <li ng-class="{ active: project == project_ }" ng-repeat="project_ in workspace.projects">
                    <a href="#" ng-click="setProject(project_, workspace)">
                      {{project_.name}}
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>

        <div class="span9">
          <div ng-show="project">
            <h2>{{project.name}}</h2>
            <span ng-show="projectLoading">loading...</span>
            <ul class="column-list">
              <li class="column" ng-repeat="column in project.columns | orderBy: weight">
                <div>{{column.name}}</div>
                <ul class="task-list">
                  <li class="task" ng-repeat="task in columnTasks(project, column) | orderBy: weight">
                    {{task.title}}
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>

      </div>

      <hr>

      <footer>
        <p>&copy; Kangulary 2012</p>
      </footer>
    </div>
  </body>
</html>
